<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <div class="container">
        
            <!-- Account Logo -->
            <div class="account-logo">
                <a href="index.html"><img src="assets/images/logo-my-portal.png" alt="Heidelberg Materials"></a>
            </div>
            <!-- /Account Logo -->
            
            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">Connexion</h3>
                    <p class="account-subtitle">Accèder au tableau de bord</p>
                    
                    <!-- Account Form -->
                    <form action="index.html">
                        <div class="form-group">
                            <label>Addresse Email</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>Mot de passe</label>
                                </div>
                                <!-- <div class="col-auto">
                                    <a class="text-muted" href="forgot-password.html">
                                        Forgot password?
                                    </a>
                                </div> -->
                            </div>
                            <input class="form-control" type="password">
                        </div>
                        <div class="form-group text-center">
                            <button routerLink="/dashboard" class="btn btn-primary account-btn" type="submit">Login</button>
                        </div>
                        <!-- <div class="account-footer">
                            <p>Don't have an account yet? <a href="register.html">Register</a></p>
                        </div> -->
                    </form>
                    <!-- /Account Form -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->