<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Main</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="active" href="">Admin Dashboard</a></li>
                        <li><a href="">Employee Dashboard</a></li>
                    </ul>
                </li>
                <li class="menu-title"> 
                    <span>Employees</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="">All Employees</a></li>
                        <li><a href="">Holidays</a></li>
                        <li><a href="">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
                    </ul>
                </li>
                <li class="menu-title"> 
                    <span>Contrats & Stages</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-user"></i> <span> Stages</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a routerLink="/stage">Liste des stagiaires</a></li>
                        <li><a href="">Types de stages</a></li>
                        <li><a href="">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-user"></i> <span> Contrats</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a routerLink="/contrat">Liste des contrats</a></li>
                        <li><a href="">Types de contrats</a></li>
                        <li><a href="">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
                    </ul>
                </li>
                <li class="menu-title"> 
                    <span>Données générales</span>
                </li>
                <li> 
                    <a routerLink="/typestage"><i class="la la-users"></i> <span>Type Stage</span></a>
                </li>
                <li> 
                    <a routerLink="/typecontrat"><i class="la la-users"></i> <span>Type Contrat</span></a>
                </li>
                <li> 
                    <a routerLink="/site"><i class="la la-users"></i> <span>Sites</span></a>
                </li>
                <li> 
                    <a routerLink="/departement"><i class="la la-users"></i> <span>Departements</span></a>
                </li>
                <li> 
                    <a routerLink="/service"><i class="la la-users"></i> <span>Services</span></a>
                </li>
                <li> 
                    <a routerLink="/fonction"><i class="la la-users"></i> <span>Fonctions</span></a>
                </li>

                <li class="menu-title"> 
                    <span>Paramêtres</span>
                </li>
                <li> 
                    <a href="clients.html"><i class="la la-users"></i> <span>Liste des profils</span></a>
                </li>
                <li> 
                    <a href="clients.html"><i class="la la-users"></i> <span>Administration</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->